# --- Core Django ---
Django==5.2.3
asgiref==3.10.0
sqlparse==0.5.3
tzdata==2025.2

# --- REST & Auth ---
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1

# --- CORS ---
django-cors-headers==4.7.0

# --- Env handling ---
# django-dotenv==1.4.2
python-dotenv==1.2.1
# --- Production server (Linux only) ---
gunicorn==23.0.0

# --- Images ---
pillow==11.3.0

# --- Redis / Celery (ONLY if you actually use them) ---
django-redis==5.4.0
django_celery_results==2.6.0

# --- Debug / Profiling (optional, prod me usually off) ---
django-silk==5.4.3
supabase==2.27.0
supabase-auth==2.27.0
supabase-functions==2.27.0
mysqlclient==2.2.7
dj-database-url==3.0.1
